In [5]:
# Import de las librer√≠as
import numpy as np
import pandas as pd
import datetime as dt

In [6]:
np.__version__

'1.19.5'

In [7]:
pd.__version__

'1.1.5'

In [8]:
# Importar dataset
df = pd.read_csv("https://raw.githubusercontent.com/marcusRB/IDbootcamps_DataScience_student_PT_10201/master/dataset/earthquakes.csv",
                 sep=",", index_col=False)
df

     alert  ...                                                url
0      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
3      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[9332 rows x 26 columns]

# EDA Exploratory Data Analysis

In [9]:
df.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [10]:
df.tail()

     alert  ...                                                url
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [11]:
# Mostrar una muestra de n observaciones
df.sample(5, random_state=17) # el random_state 42, 17, 66, 000, 0, 1

     alert  ...                                                url
6944   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1874   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
7897   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4088   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
7373   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [12]:
# buscamos la forma que tiene nuestro dataframe
df.shape

(9332, 26)

In [13]:
df.shape[0]

9332

In [14]:
# Observamos las columnas
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [15]:
# Informaci√≥n del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    59 non-null     object
 1   cdi      329 non-null    float64
 2   code     9332 non-null   object
 3   detail   9332 non-null   object
 4   dmin     6139 non-null   float64
 5   felt     329 non-null    float64
 6   gap      6164 non-null   float64
 7   ids      9332 non-null   object
 8   mag      9331 non-null   float64
 9   magType  9331 non-null   object
 10  mmi      93 non-null     float64
 11  net      9332 non-null   object
 12  nst      5364 non-null   float64
 13  place    9332 non-null   object
 14  rms      9332 non-null   float64
 15  sig      9332 non-null   int64
 16  sources  9332 non-null   object
 17  status   9332 non-null   object
 18  time     9332 non-null   int64
 19  title    9332 non-null   object
 20  tsunami  9332 non-null   int64
 21  type     9332 non-null   object
 22  types    9332 non-null   object
 23  tz       9331 non-null   float64
 24  updated  9332 non-null   int64
 25  url      9332 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

In [16]:
# Descubrimiento de los valores estad√≠sticos
df.describe()

              cdi         dmin  ...           tz       updated
count  329.000000  6139.000000  ...  9331.000000  9.332000e+03
mean     2.754711     0.544925  ...  -451.990140  1.538537e+12
std      1.010637     2.214305  ...   231.752571  6.564135e+08
min      0.000000     0.000648  ...  -720.000000  1.537230e+12
25%      2.000000     0.020425  ...  -540.000000  1.537996e+12
50%      2.700000     0.059050  ...  -480.000000  1.538621e+12
75%      3.300000     0.177250  ...  -480.000000  1.539110e+12
max      8.400000    53.737000  ...   720.000000  1.539537e+12

[8 rows x 13 columns]

In [17]:
# Comprobamos el tipo dataframe 
type(df)

pandas.core.frame.DataFrame

In [18]:
# comprobamos si el dataframe es vac√≠o
df.empty

False

In [19]:
df

     alert  ...                                                url
0      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
3      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[9332 rows x 26 columns]

In [20]:
# Existe unas opciones que nos permiten ampliar el margen del dataframe
pd.get_option("display.max_columns") # recoge la info de las columnas, y la muestra en pantalla

0

In [21]:
pd.set_option("display.max_columns", 26) # configuramos a 26 las columnas a mostrar

In [22]:
df

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,NaN,ci,26.0,"9km NE of Aguanga, CA",0.19,28,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,NaN,ci,20.0,"9km NE of Aguanga, CA",0.29,26,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,NaN,ci,111.0,"8km NE of Aguanga, CA",0.22,192,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,NaN,ci,26.0,"9km NE of Aguanga, CA",0.17,3,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,NaN,nc,18.0,"10km NW of Avenal, CA",0.05,72,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,NaN,NaN,73086771,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018060,NaN,185.0,",nc73086771,",0.62,md,NaN,nc,13.0,"9km ENE of Mammoth Lakes, CA",0.03,6,",nc,",reviewed,1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1537285598315,https://earthquake.usgs.gov/earthquakes/eventp...
9328,NaN,NaN,38063967,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.030410,NaN,50.0,",ci38063967,",1.00,ml,NaN,ci,28.0,"3km W of Julian, CA",0.21,15,",ci,",reviewed,1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537276800970,https://earthquake.usgs.gov/earthquakes/eventp...
9329,NaN,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.452600,NaN,276.0,",pr2018261000,",2.40,md,NaN,pr,9.0,"35km NNE of Hatillo, Puerto Rico",0.41,89,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018650,NaN,61.0,",ci38063959,",1.10,ml,NaN,ci,27.0,"9km NE of Aguanga, CA",0.10,19,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.016980,NaN,39.0,",ci38063935,",0.66,ml,NaN,ci,24.0,"9km NE of Aguanga, CA",0.10,7,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [23]:
# Alternativa
pd.options.display.max_columns = 26

In [24]:
# Si quiero resetear esta opci√≥n
pd.reset_option('display.max_columns')

In [25]:
# Si queremos observar la gu√≠a
pd.describe_option('display')

display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 0] [currently: 0]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]

In [26]:
# La alternativa de pd.Dataframe.info
df.dtypes

alert       object
cdi        float64
code        object
detail      object
dmin       float64
felt       float64
gap        float64
ids         object
mag        float64
magType     object
mmi        float64
net         object
nst        float64
place       object
rms        float64
sig          int64
sources     object
status      object
time         int64
title       object
tsunami      int64
type        object
types       object
tz         float64
updated      int64
url         object
dtype: object

In [27]:
# Mostramos los estad√≠sticos b√°sico pero con opciones
df.describe(percentiles=[0.05, 0.95])

              cdi         dmin  ...           tz       updated
count  329.000000  6139.000000  ...  9331.000000  9.332000e+03
mean     2.754711     0.544925  ...  -451.990140  1.538537e+12
std      1.010637     2.214305  ...   231.752571  6.564135e+08
min      0.000000     0.000648  ...  -720.000000  1.537230e+12
5%       2.000000     0.005491  ...  -600.000000  1.537387e+12
50%      2.700000     0.059050  ...  -480.000000  1.538621e+12
95%      4.300000     2.678900  ...   -60.000000  1.539400e+12
max      8.400000    53.737000  ...   720.000000  1.539537e+12

[8 rows x 13 columns]

In [28]:
# Solo mostramos los valores object
df.describe(include=np.object)

        alert  ...                                                url
count      59  ...                                               9332
unique      2  ...                                               9332
top     green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
freq       58  ...                                                  1

[4 rows x 13 columns]

In [29]:
# Directamente podemos utilizar el argumento include='all' para incluir todos los atributos
df.describe(include='all')

        alert  ...                                                url
count      59  ...                                               9332
unique      2  ...                                               9332
top     green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
freq       58  ...                                                  1
mean      NaN  ...                                                NaN
std       NaN  ...                                                NaN
min       NaN  ...                                                NaN
25%       NaN  ...                                                NaN
50%       NaN  ...                                                NaN
75%       NaN  ...                                                NaN
max       NaN  ...                                                NaN

[11 rows x 26 columns]

In [30]:
# si deseamos conocer los estad√≠sticos de una feature
df.rms.describe()

count    9332.000000
mean        0.362122
std         0.317784
min         0.000000
25%         0.119675
50%         0.210000
75%         0.590000
max         1.910000
Name: rms, dtype: float64

In [31]:
# Similar con este otro m√©todo equivalente
df['rms'].describe()

count    9332.000000
mean        0.362122
std         0.317784
min         0.000000
25%         0.119675
50%         0.210000
75%         0.590000
max         1.910000
Name: rms, dtype: float64

# Investigamos por cada una de las features o atributos

In [32]:
type(df['rms'])

pandas.core.series.Series

In [33]:
# aplicamos medidas de agregaci√≥n
df['rms'].count()

9332

In [34]:
df['rms'].nunique() # devolver√° valores √∫nicos

823

In [35]:
df['alert']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
9327    NaN
9328    NaN
9329    NaN
9330    NaN
9331    NaN
Name: alert, Length: 9332, dtype: object

In [36]:
df.alert.nunique() # nos contabilizar√° 2 valores √∫nicos

2

In [37]:
df.alert.unique()

array([nan, 'green', 'red'], dtype=object)

In [38]:
# Otra forma de contar y agrupar por valores √∫nicos
df['alert'].value_counts()

green    58
red       1
Name: alert, dtype: int64

In [39]:
# Lo mismo para los valores num√©ricos
df.rms.value_counts()

0.1200    253
0.1300    250
0.0300    247
0.1500    228
0.0400    223
         ...
0.0999      1
0.1171      1
0.1275      1
0.1771      1
0.0882      1
Name: rms, Length: 823, dtype: int64

# Subset de un dataframe
Es obtener un dataframe m√°s peque√±o de n filas y/o m columnas para poderlas manipular de manera m√°s eficiente.

In [40]:
df.mag # obtenemos los valores de un solo atributo

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [41]:
df['mag'] # es lo mismo que el m√©todo anterior

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [42]:
# Seleccionaremos solo 3 columnas
df[['mag', 'alert', 'title']]

       mag alert                                     title
0     1.35   NaN             M 1.4 - 9km NE of Aguanga, CA
1     1.29   NaN             M 1.3 - 9km NE of Aguanga, CA
2     3.42   NaN             M 3.4 - 8km NE of Aguanga, CA
3     0.44   NaN             M 0.4 - 9km NE of Aguanga, CA
4     2.16   NaN             M 2.2 - 10km NW of Avenal, CA
...    ...   ...                                       ...
9327  0.62   NaN      M 0.6 - 9km ENE of Mammoth Lakes, CA
9328  1.00   NaN               M 1.0 - 3km W of Julian, CA
9329  2.40   NaN  M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330  1.10   NaN             M 1.1 - 9km NE of Aguanga, CA
9331  0.66   NaN             M 0.7 - 9km NE of Aguanga, CA

[9332 rows x 3 columns]

In [43]:
# Equivalente al m√©todo anterior ser√≠a declarar las columnas previamente
cols = ['mag', 'alert', 'title']
df[cols]

       mag alert                                     title
0     1.35   NaN             M 1.4 - 9km NE of Aguanga, CA
1     1.29   NaN             M 1.3 - 9km NE of Aguanga, CA
2     3.42   NaN             M 3.4 - 8km NE of Aguanga, CA
3     0.44   NaN             M 0.4 - 9km NE of Aguanga, CA
4     2.16   NaN             M 2.2 - 10km NW of Avenal, CA
...    ...   ...                                       ...
9327  0.62   NaN      M 0.6 - 9km ENE of Mammoth Lakes, CA
9328  1.00   NaN               M 1.0 - 3km W of Julian, CA
9329  2.40   NaN  M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330  1.10   NaN             M 1.1 - 9km NE of Aguanga, CA
9331  0.66   NaN             M 0.7 - 9km NE of Aguanga, CA

[9332 rows x 3 columns]

In [44]:
# Tambi√©n podemos utilizar las list comprehension
df[
   ['title', 'alert', 'rms'] +
   [col for col in df.columns if col.startswith('mag')]
]

                                         title alert   rms   mag magType
0                M 1.4 - 9km NE of Aguanga, CA   NaN  0.19  1.35      ml
1                M 1.3 - 9km NE of Aguanga, CA   NaN  0.29  1.29      ml
2                M 3.4 - 8km NE of Aguanga, CA   NaN  0.22  3.42      ml
3                M 0.4 - 9km NE of Aguanga, CA   NaN  0.17  0.44      ml
4                M 2.2 - 10km NW of Avenal, CA   NaN  0.05  2.16      md
...                                        ...   ...   ...   ...     ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA   NaN  0.03  0.62      md
9328               M 1.0 - 3km W of Julian, CA   NaN  0.21  1.00      ml
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico   NaN  0.41  2.40      md
9330             M 1.1 - 9km NE of Aguanga, CA   NaN  0.10  1.10      ml
9331             M 0.7 - 9km NE of Aguanga, CA   NaN  0.10  0.66      ml

[9332 rows x 5 columns]

In [45]:
# Poder analizar solo unas determinadas columnas
cols_c = [col for col in df.columns if col.startswith('c')]
cols_c

['cdi', 'code']

In [46]:
# eXplicando el c√≥digo de arriba y a√±anidos un separador de l√≠nea \
['title','time'] \
+ [col for col in df.columns if col.startswith('mag')] # el resultado obtenido

['title', 'time', 'mag', 'magType']

In [47]:
# Realizamos operaciones de slicing
df[10:100] # mostrar√° las filas desde el √≠ndice 10 hasta el 100-1 (99)

   alert  cdi  ...        updated                                                url
10   NaN  NaN  ...  1539472054436  https://earthquake.usgs.gov/earthquakes/eventp...
11   NaN  NaN  ...  1539500530876  https://earthquake.usgs.gov/earthquakes/eventp...
12   NaN  NaN  ...  1539471147309  https://earthquake.usgs.gov/earthquakes/eventp...
13   NaN  NaN  ...  1539493516040  https://earthquake.usgs.gov/earthquakes/eventp...
14   NaN  NaN  ...  1539473045436  https://earthquake.usgs.gov/earthquakes/eventp...
..   ...  ...  ...            ...                                                ...
95   NaN  NaN  ...  1539465377799  https://earthquake.usgs.gov/earthquakes/eventp...
96   NaN  NaN  ...  1539482676266  https://earthquake.usgs.gov/earthquakes/eventp...
97   NaN  NaN  ...  1539443661357  https://earthquake.usgs.gov/earthquakes/eventp...
98   NaN  NaN  ...  1539443661049  https://earthquake.usgs.gov/earthquakes/eventp...
99   NaN  NaN  ...  1539443660763  https://earthquake.usgs.gov/earthquakes/eventp...

[90 rows x 26 columns]

In [48]:
# Filtramos por columnas y filas
df[['title', 'mag']][50:101]

                                                 title   mag
50                M 2.4 - 65km SSW of Kaktovik, Alaska  2.40
51                 M 2.2 - 78km SW of Kaktovik, Alaska  2.20
52                  M 2.5 - 61km S of Cantwell, Alaska  2.50
53                   M 0.2 - 61km N of Pahrump, Nevada  0.20
54                  M 1.5 - 4km SSW of Carpinteria, CA  1.46
55   M 4.6 - 242km NNW of Farallon de Pajaros, Nort...  4.60
56               M 2.2 - 2km WNW of Manhattan, Montana  2.21
57          M 2.1 - 109km NW of Arctic Village, Alaska  2.10
58                  M 1.8 - 17km SE of Volcano, Hawaii  1.83
59                M 2.2 - 2km WNW of Big Bear City, CA  2.15
60            M 1.4 - 5km WNW of San Juan Bautista, CA  1.44
61           M 2.1 - 30km NNW of Santa Barbara Is., CA  2.07
62                    M 0.9 - 6km NNW of Pinnacles, CA  0.86
63             M 0.1 - 6km NW of Lemmon Valley, Nevada  0.10
64         M 2.0 - 131km WNW of Arctic Village, Alaska  2.00
65                    M 2.8 - 6km NNW of Pinnacles, CA  2.76
66         M 2.2 - 22km E of Honaunau-Napoopoo, Hawaii  2.24
67                    M 4.6 - 160km NNW of Nago, Japan  4.60
68                     M 1.1 - 1km SE of Placentia, CA  1.14
69                      M 1.5 - 6km NNE of Banning, CA  1.45
70                    M 0.4 - 18km NW of Parkfield, CA  0.35
71            M 0.7 - 36km ENE of Big Pine, California  0.70
72                 M 0.7 - 58km NNE of Pahrump, Nevada  0.70
73   M 2.4 - 70km N of Tierras Nuevas Poniente, Pue...  2.43
74               M 1.7 - 74km NW of Larsen Bay, Alaska  1.70
75                  M 1.1 - 6km WNW of The Geysers, CA  1.12
76           M 1.5 - 77km NNW of New Allakaket, Alaska  1.50
77                      M 0.6 - 11km NE of Aguanga, CA  0.62
78                 M 0.5 - 59km NNE of Pahrump, Nevada  0.50
79                      M 0.1 - 13km S of Reno, Nevada  0.10
80       M 2.0 - 21km ENE of Honaunau-Napoopoo, Hawaii  2.01
81                   M 1.4 - 93km ENE of Kobuk, Alaska  1.40
82         M 1.7 - 123km NNW of Arctic Village, Alaska  1.70
83                  M 0.8 - 5km NNW of The Geysers, CA  0.83
84          M 1.1 - 14km NE of East Quincy, California  1.10
85            M 1.4 - 41km NNW of North Nenana, Alaska  1.40
86              M 1.4 - 28km N of North Nenana, Alaska  1.40
87                  M 0.0 - 57km SSW of Beatty, Nevada  0.00
88           M 1.8 - 11km WNW of Sutton-Alpine, Alaska  1.80
89                  M 2.0 - 50km E of Cantwell, Alaska  2.00
90                    M 3.2 - 6km NNW of Pinnacles, CA  3.22
91                  M 4.7 - 32km SE of Muisne, Ecuador  4.70
92              M 4.6 - 150km E of Luganville, Vanuatu  4.60
93            M 0.8 - 6km S of Palomar Observatory, CA  0.75
94         M 1.9 - 10km SSE of Redoubt Volcano, Alaska  1.90
95                  M 1.6 - 3km NNE of The Geysers, CA  1.57
96              M 0.9 - 60km E of Big Pine, California  0.90
97                M 1.3 - 45km WSW of Big Lake, Alaska  1.30
98                 M 1.8 - 66km SW of Cantwell, Alaska  1.80
99         M 1.6 - 112km NNW of Arctic Village, Alaska  1.60
100                   M 1.2 - 25km NW of Ester, Alaska  1.20

In [49]:
# La alternativa
cols = ['title', 'mag']
df[cols][50:101] # es equivalente a df[['title', 'mag']][50:101]

                                                 title   mag
50                M 2.4 - 65km SSW of Kaktovik, Alaska  2.40
51                 M 2.2 - 78km SW of Kaktovik, Alaska  2.20
52                  M 2.5 - 61km S of Cantwell, Alaska  2.50
53                   M 0.2 - 61km N of Pahrump, Nevada  0.20
54                  M 1.5 - 4km SSW of Carpinteria, CA  1.46
55   M 4.6 - 242km NNW of Farallon de Pajaros, Nort...  4.60
56               M 2.2 - 2km WNW of Manhattan, Montana  2.21
57          M 2.1 - 109km NW of Arctic Village, Alaska  2.10
58                  M 1.8 - 17km SE of Volcano, Hawaii  1.83
59                M 2.2 - 2km WNW of Big Bear City, CA  2.15
60            M 1.4 - 5km WNW of San Juan Bautista, CA  1.44
61           M 2.1 - 30km NNW of Santa Barbara Is., CA  2.07
62                    M 0.9 - 6km NNW of Pinnacles, CA  0.86
63             M 0.1 - 6km NW of Lemmon Valley, Nevada  0.10
64         M 2.0 - 131km WNW of Arctic Village, Alaska  2.00
65                    M 2.8 - 6km NNW of Pinnacles, CA  2.76
66         M 2.2 - 22km E of Honaunau-Napoopoo, Hawaii  2.24
67                    M 4.6 - 160km NNW of Nago, Japan  4.60
68                     M 1.1 - 1km SE of Placentia, CA  1.14
69                      M 1.5 - 6km NNE of Banning, CA  1.45
70                    M 0.4 - 18km NW of Parkfield, CA  0.35
71            M 0.7 - 36km ENE of Big Pine, California  0.70
72                 M 0.7 - 58km NNE of Pahrump, Nevada  0.70
73   M 2.4 - 70km N of Tierras Nuevas Poniente, Pue...  2.43
74               M 1.7 - 74km NW of Larsen Bay, Alaska  1.70
75                  M 1.1 - 6km WNW of The Geysers, CA  1.12
76           M 1.5 - 77km NNW of New Allakaket, Alaska  1.50
77                      M 0.6 - 11km NE of Aguanga, CA  0.62
78                 M 0.5 - 59km NNE of Pahrump, Nevada  0.50
79                      M 0.1 - 13km S of Reno, Nevada  0.10
80       M 2.0 - 21km ENE of Honaunau-Napoopoo, Hawaii  2.01
81                   M 1.4 - 93km ENE of Kobuk, Alaska  1.40
82         M 1.7 - 123km NNW of Arctic Village, Alaska  1.70
83                  M 0.8 - 5km NNW of The Geysers, CA  0.83
84          M 1.1 - 14km NE of East Quincy, California  1.10
85            M 1.4 - 41km NNW of North Nenana, Alaska  1.40
86              M 1.4 - 28km N of North Nenana, Alaska  1.40
87                  M 0.0 - 57km SSW of Beatty, Nevada  0.00
88           M 1.8 - 11km WNW of Sutton-Alpine, Alaska  1.80
89                  M 2.0 - 50km E of Cantwell, Alaska  2.00
90                    M 3.2 - 6km NNW of Pinnacles, CA  3.22
91                  M 4.7 - 32km SE of Muisne, Ecuador  4.70
92              M 4.6 - 150km E of Luganville, Vanuatu  4.60
93            M 0.8 - 6km S of Palomar Observatory, CA  0.75
94         M 1.9 - 10km SSE of Redoubt Volcano, Alaska  1.90
95                  M 1.6 - 3km NNE of The Geysers, CA  1.57
96              M 0.9 - 60km E of Big Pine, California  0.90
97                M 1.3 - 45km WSW of Big Lake, Alaska  1.30
98                 M 1.8 - 66km SW of Cantwell, Alaska  1.80
99         M 1.6 - 112km NNW of Arctic Village, Alaska  1.60
100                   M 1.2 - 25km NW of Ester, Alaska  1.20

In [50]:
# El orden no importa
df[50:101][cols].equals(df[cols][50:101])

True

# Realizar subset de datos con operaciones de indexing: `iloc` y `loc`

In [51]:
# La funci√≥n loc[] utilizar√° llamando los nombres de filas y columnas
subset_1 = df.loc[10:101, 'title'] # el slice start y end completos.
subset_1

10                        M 0.5 - 10km NE of Aguanga, CA
11     M 2.8 - 53km SE of Punta Cana, Dominican Republic
12                         M 0.5 - 9km NE of Aguanga, CA
13            M 4.5 - 120km SSW of Banda Aceh, Indonesia
14                      M 2.1 - 14km NW of Parkfield, CA
                             ...
97                  M 1.3 - 45km WSW of Big Lake, Alaska
98                   M 1.8 - 66km SW of Cantwell, Alaska
99           M 1.6 - 112km NNW of Arctic Village, Alaska
100                     M 1.2 - 25km NW of Ester, Alaska
101                 M 0.6 - 8km ESE of Mammoth Lakes, CA
Name: title, Length: 92, dtype: object

In [52]:
# Observamos el tipo de objeto creado
type(subset_1)

pandas.core.series.Series

In [53]:
df.loc[110:112, 'title'] = df.loc[110:112, 'title'].str.lower()
df.loc[110:112, 'title']

110               m 1.1 - 35km s of ester, alaska
111    m 1.9 - 93km wnw of arctic village, alaska
112      m 0.9 - 20km wsw of smith valley, nevada
Name: title, dtype: object

In [54]:
df.loc[:,'mag']

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [55]:
# Si deseamos a√±adir m√°s columnas
subset_2 = df.loc[10:15, ['title','mag','time']]
subset_2

                                                title   mag           time
10                     M 0.5 - 10km NE of Aguanga, CA  0.50  1539471831030
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77  1539471621260
12                      M 0.5 - 9km NE of Aguanga, CA  0.50  1539470934710
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50  1539470898340
14                   M 2.1 - 14km NW of Parkfield, CA  2.13  1539470851950
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00  1539470304219

In [56]:
cols = ['title','mag','time']
subset_3 = df.loc[10:15, cols]
subset_3

                                                title   mag           time
10                     M 0.5 - 10km NE of Aguanga, CA  0.50  1539471831030
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77  1539471621260
12                      M 0.5 - 9km NE of Aguanga, CA  0.50  1539470934710
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50  1539470898340
14                   M 2.1 - 14km NW of Parkfield, CA  2.13  1539470851950
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00  1539470304219

In [57]:
subset_2.equals(subset_3)

True

In [58]:
# M√©todo con iloc, que ser√≠a b√∫squeda por posici√≥n
df.iloc[10:15, [19, 8]] # columnas pos 19 y pos 8

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13

In [59]:
# Realizar una slice de columnas
df.iloc[50:101, 6:11] # omite la √∫ltima fila y la √∫ltima columna

        gap                      ids   mag magType  mmi
50      NaN             ,ak20280381,  2.40      ml  NaN
51      NaN             ,ak20280377,  2.20      ml  NaN
52      NaN             ,ak20280372,  2.50      ml  NaN
53   232.14             ,nn00660865,  0.20      ml  NaN
54    71.00             ,ci37388978,  1.46      ml  NaN
55   124.00             ,us1000hbrc,  4.60      mb  NaN
56    73.00             ,mb80314199,  2.21      ml  NaN
57      NaN             ,ak20280369,  2.10      ml  NaN
58   140.00             ,hv70649957,  1.83      ml  NaN
59    35.00             ,ci37388970,  2.15      ml  NaN
60   103.00             ,nc73096846,  1.44      md  NaN
61    77.00             ,ci37388954,  2.07      ml  NaN
62   163.00             ,nc73096836,  0.86      md  NaN
63   146.38             ,nn00660883,  0.10      ml  NaN
64      NaN             ,ak20280363,  2.00      ml  NaN
65    50.00  ,nc73096831,us1000hbqe,  2.76      md  NaN
66    95.00             ,hv70649847,  2.24      ml  NaN
67    72.00             ,us1000hbqa,  4.60      mb  NaN
68    62.00             ,ci37388906,  1.14      ml  NaN
69    35.00             ,ci37388898,  1.45      ml  NaN
70   173.00             ,nc73096811,  0.35      md  NaN
71   185.18             ,nn00660903,  0.70      ml  NaN
72   136.46             ,nn00660856,  0.70      ml  NaN
73   295.00           ,pr2018286006,  2.43      md  NaN
74      NaN             ,ak20280349,  1.70      ml  NaN
75   130.00             ,nc73096796,  1.12      md  NaN
76      NaN             ,ak20280347,  1.50      ml  NaN
77    47.00             ,ci37388890,  0.62      ml  NaN
78   265.57             ,nn00660851,  0.50      ml  NaN
79   166.08             ,nn00660881,  0.10      ml  NaN
80   124.00             ,hv70649732,  2.01      ml  NaN
81      NaN             ,ak20280344,  1.40      ml  NaN
82      NaN             ,ak20280343,  1.70      ml  NaN
83    88.00             ,nc73096781,  0.83      md  NaN
84   125.08             ,nn00660880,  1.10      ml  NaN
85      NaN             ,ak20280338,  1.40      ml  NaN
86      NaN             ,ak20280339,  1.40      ml  NaN
87   217.52             ,nn00660901,  0.00      ml  NaN
88      NaN             ,ak20280334,  1.80      ml  NaN
89      NaN             ,ak20280328,  2.00      ml  NaN
90    50.00  ,nc73096771,us1000hbp6,  3.22      ml  NaN
91   144.00             ,us1000hbp3,  4.70      mb  NaN
92   132.00             ,us1000hbp4,  4.60      mb  NaN
93    54.00             ,ci37388818,  0.75      ml  NaN
94      NaN             ,ak20280325,  1.90      ml  NaN
95    49.00             ,nc73096766,  1.57      md  NaN
96    88.54             ,nn00660828,  0.90      ml  NaN
97      NaN             ,ak20280318,  1.30      ml  NaN
98      NaN             ,ak20280314,  1.80      ml  NaN
99      NaN             ,ak20280313,  1.60      ml  NaN
100     NaN             ,ak20280310,  1.20      ml  NaN

In [60]:
# Podemos evaluar los dos m√©todos loc e iloc
df.iloc[10:15, 6:10].equals(
    df.loc[10:14, 'gap':'magType']
)

True

# Uso de filtros

In [61]:
# Si a√±adimos una condici√≥n
df.mag > 3

0       False
1       False
2        True
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

In [62]:
# El m√©todo anterior en el contexto dataframe entero
df[df.mag > 3] # devolver√° n filas cuando la condici√≥n sea True o 1

     alert  ...                                                url
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
13     NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
36     NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
55     NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9309   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9311   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9316   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9319   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9321   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[892 rows x 26 columns]

In [63]:
# Utilizamos loc y la condici√≥n para crear un nuevo subset
subset_4 = df.loc[
                  df.mag >= 7.,
                  ['alert','mag','magType','title','type']
]
subset_4

      alert  mag  ...                                       title        type
837   green  7.0  ...  M 7.0 - 117km E of Kimbe, Papua New Guinea  earthquake
5263    red  7.5  ...           M 7.5 - 78km N of Palu, Indonesia  earthquake

[2 rows x 5 columns]

## Lab 01

buscamos de las columnas: 
```
alert, mag, magType, title, type, tsunami, time
```
las filas que cumplan las condiciones 
- tsunami igual 1 y/o alert igual a red.

In [64]:
cols = ['alert', 'mag', 'magType', 'title', 'type', 'tsunami', 'time']
df.loc[
       (df['tsunami'] == 1) & (df['alert'] == 'red'),
       cols
]

     alert  mag magType  ...        type tsunami           time
5263   red  7.5     mww  ...  earthquake       1  1538128963480

[1 rows x 7 columns]

In [65]:
df.loc[
       (df['tsunami'] == 1) | (df['alert'] == 'red'),
       cols
]

      alert  mag magType  ...        type tsunami           time
36      NaN  5.0     mww  ...  earthquake       1  1539459504090
118   green  6.7     mww  ...  earthquake       1  1539429023560
501   green  5.6     mww  ...  earthquake       1  1539312723620
799   green  6.5     mww  ...  earthquake       1  1539213362130
816   green  6.2     mww  ...  earthquake       1  1539208835130
...     ...  ...     ...  ...         ...     ...            ...
8561    NaN  5.4      mb  ...  earthquake       1  1537427126700
8624    NaN  5.1      mb  ...  earthquake       1  1537411002190
9133  green  5.1      ml  ...  earthquake       1  1537274456960
9175    NaN  5.2      mb  ...  earthquake       1  1537262729590
9304    NaN  5.1      mb  ...  earthquake       1  1537236235470

[61 rows x 7 columns]

In [66]:
# podemos crear subset con filtros notnull e isnull
df.loc[
       (df['place'].str.contains('Alaska')) & (df.alert.notnull()),
       cols
]

      alert  mag magType  ...        type tsunami           time
1015  green  5.0      ml  ...  earthquake       1  1539152878406
1273  green  4.0      ml  ...  earthquake       1  1539069081499
1795  green  4.0      ml  ...  earthquake       1  1538904354275
2752  green  4.0      ml  ...  earthquake       1  1538658776412
3260  green  3.9      ml  ...  earthquake       0  1538537377544
4101  green  4.2      ml  ...  earthquake       0  1538355504955
6897  green  3.8      ml  ...  earthquake       0  1537814330258
8524  green  3.8      ml  ...  earthquake       0  1537435679405
9133  green  5.1      ml  ...  earthquake       1  1537274456960

[9 rows x 7 columns]

In [67]:
# Puedo realizar filtros por b√∫squeda de patrones, RegEx o expresi√≥n regular
df.loc[
       (df['place'].str.contains(r'CA|California$|CALIFORNIA')) &
       (df['mag'] > 3.8),
       cols
]

      alert   mag magType  ...        type tsunami           time
1465  green  3.83      mw  ...  earthquake       0  1539011708090
2414  green  3.83      mw  ...  earthquake       1  1538746177550

[2 rows x 7 columns]

In [68]:
# uso del between
df.loc[
       df['mag'].between(6.5, 7.5),
       cols
]

      alert  mag magType  ...        type tsunami           time
118   green  6.7     mww  ...  earthquake       1  1539429023560
799   green  6.5     mww  ...  earthquake       1  1539213362130
837   green  7.0     mww  ...  earthquake       1  1539204500290
4363  green  6.7     mww  ...  earthquake       1  1538304744240
5263    red  7.5     mww  ...  earthquake       1  1538128963480

[5 rows x 7 columns]

In [69]:
# utilizamos el filtro isin()
df.loc[
       df['magType'].isin(['mw', 'mwb']),
       cols
]

      alert   mag magType  ...        type tsunami           time
995     NaN  3.35      mw  ...  earthquake       0  1539161305600
1465  green  3.83      mw  ...  earthquake       0  1539011708090
2414  green  3.83      mw  ...  earthquake       1  1538746177550
4988  green  4.41      mw  ...  earthquake       1  1538187466720
6307  green  5.80     mwb  ...  earthquake       0  1537922253170
8257  green  5.70     mwb  ...  earthquake       0  1537501301530

[6 rows x 7 columns]

In [70]:
# Explicaci√≥n de este √∫ltimo filtro, devolver√° True y False
df['magType'].isin(['mw', 'mwb'])

0       False
1       False
2       False
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: magType, Length: 9332, dtype: bool

In [71]:
df[df['magType'].isin(['mw', 'mwb'])] # aplicando al df entero nos devolver√° el resultado de n filas donde tengamos el True o 1

      alert  ...                                                url
995     NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1465  green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
2414  green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4988  green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
6307  green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
8257  green  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[6 rows x 26 columns]

## M√©todos de agregaci√≥n en Pandas
```
**Method** 	**Description** 	**Data types**
count() 	The number of non-null observations 	Any
nunique() 	The number of unique values 	Any
sum() 	The total of the values 	Numerical or Boolean
mean() 	The average of the values 	Numerical or Boolean
median() 	The median of the values 	Numerical
min() 	The minimum of the values 	Numerical
idxmin() 	The index where the minimum values occurs 	Numerical
max() 	The maximum of the values 	Numerical
idxmax() 	The index where the maximum value occurs 	Numerical
abs() 	The absolute values of the data 	Numerical
std() 	The standard deviation 	Numerical
var() 	The variance 	Numerical
cov() 	The covariance between two Series, or a covariance matrix for all column combinations in a DataFrame 	Numerical
corr() 	The correlation between two Series, or a correlation matrix for all column combinations in a DataFrame 	Numerical
quantile() 	Calculates a specific quantile 	Numerical
cumsum() 	The cumulative sum 	Numerical or Boolean
cummin() 	The cumulative minimum 	Numerical
cummax() 	The cumulative maximum 	Numerical
```

In [72]:
# Filtramos por √≠ndice cuyo valor es m√°ximo e √≠ndice cuyo valor es m√≠nimo
indices = [df['mag'].idxmin(), df['mag'].idxmax()]
indices

[2409, 5263]

In [73]:
df.loc[
       indices,
       cols
]

     alert   mag magType  ...        type tsunami           time
2409   NaN -1.26      ml  ...  earthquake       0  1538746911930
5263   red  7.50     mww  ...  earthquake       1  1538128963480

[2 rows x 7 columns]

In [74]:
# Utilizo del m√©todo filter()
df.filter(items=['mag','magType']).head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

In [75]:
df.filter(like='mag',).head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

In [76]:
# utilizamos la combinaci√≥n de filter y regex
df.filter(regex=r'^t|T').head() # comienzo de la cadena de texto ^ con t o T

  magType  ...     tz
0      ml  ... -480.0
1      ml  ... -480.0
2      ml  ... -480.0
3      ml  ... -480.0
4      md  ... -480.0

[5 rows x 7 columns]

In [77]:
# Es equivalente
df.filter(regex=r'^[m-rM-R]').head() # comienzo de la cadena de texto con el rango de m-r min√∫sc. o M-R may√∫sc.

    mag magType  mmi net    nst                  place   rms
0  1.35      ml  NaN  ci   26.0  9km NE of Aguanga, CA  0.19
1  1.29      ml  NaN  ci   20.0  9km NE of Aguanga, CA  0.29
2  3.42      ml  NaN  ci  111.0  8km NE of Aguanga, CA  0.22
3  0.44      ml  NaN  ci   26.0  9km NE of Aguanga, CA  0.17
4  2.16      md  NaN  nc   18.0  10km NW of Avenal, CA  0.05

- M√°s info en https://regex101.com/

In [78]:
# Aplicar un filtro con filter() y axis()
X = df.set_index('place').filter(like='Japan', axis=0).filter(
    items=['mag','magType','title']
).head()
X

                             mag magType                                title
place
160km NNW of Nago, Japan     4.6      mb     M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan      5.2     mww      M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan   4.5     mwr   M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan     4.7      mb     M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan  4.6      mb  M 4.6 - 53km ESE of Kamaishi, Japan

> **Sustituye** los √≠ndices por los valores de la columna Place. Realiza un **filtro** buscando 'Japan' por fila y que aplique el **filtro** solo a las cols mag, magType, title y **muestra los 5** primeros resultados.

In [79]:
type(X)

pandas.core.frame.DataFrame

In [80]:
# Observamos como se ha realizado la operaci√≥n anterior
Y = df.set_index('place')['title'].filter(like='Japan').head()
Y

place
160km NNW of Nago, Japan          M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan            M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan      M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan          M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan    M 4.6 - 53km ESE of Kamaishi, Japan
Name: title, dtype: object

In [81]:
type(Y)

pandas.core.series.Series

In [82]:
Y = df.set_index('place')['title'].filter(like='Iran').head()
Y

place
34km E of Ramhormoz, Iran        M 4.5 - 34km E of Ramhormoz, Iran
18km SSE of Borazjan, Iran      M 4.0 - 18km SSE of Borazjan, Iran
32km ESE of Kuh Sefid, Iran    M 4.1 - 32km ESE of Kuh Sefid, Iran
51km NNE of Kerman, Iran          M 4.3 - 51km NNE of Kerman, Iran
44km S of Farsan, Iran              M 4.9 - 44km S of Farsan, Iran
Name: title, dtype: object

## Lab02

In [83]:
# Carga parcial de los datos en un dataframe
cols = ['time','title','place','magType','mag','alert','type','tsunami'] # carga de algunas de las cols
df = pd.read_csv("https://raw.githubusercontent.com/marcusRB/IDbootcamps_DataScience_student_PT_10201/master/dataset/earthquakes.csv",
                 sep=",", usecols=cols)
df.sample(10,random_state=17)

     alert   mag  ... tsunami        type
6944   NaN  0.14  ...       0  earthquake
1874   NaN  0.56  ...       0  earthquake
7897   NaN  4.90  ...       0  earthquake
4088   NaN -0.18  ...       0  earthquake
7373   NaN  1.90  ...       0  earthquake
5397   NaN  1.44  ...       0  earthquake
7847   NaN  0.41  ...       0  earthquake
4357   NaN  0.54  ...       0  earthquake
1176   NaN  1.40  ...       0  earthquake
8165   NaN  2.25  ...       0  earthquake

[10 rows x 8 columns]

In [84]:
# Crear una nueva columna
df['source'] = 'USGS API' # crea un nuevo atributo con un valor
df.sample(10, random_state=17)

     alert   mag magType  ... tsunami        type    source
6944   NaN  0.14      ml  ...       0  earthquake  USGS API
1874   NaN  0.56      md  ...       0  earthquake  USGS API
7897   NaN  4.90      mb  ...       0  earthquake  USGS API
4088   NaN -0.18      ml  ...       0  earthquake  USGS API
7373   NaN  1.90      ml  ...       0  earthquake  USGS API
5397   NaN  1.44      ml  ...       0  earthquake  USGS API
7847   NaN  0.41      md  ...       0  earthquake  USGS API
4357   NaN  0.54      ml  ...       0  earthquake  USGS API
1176   NaN  1.40      ml  ...       0  earthquake  USGS API
8165   NaN  2.25      ml  ...       0  earthquake  USGS API

[10 rows x 9 columns]

In [85]:
# creamos una nueva columna con valores dada una condici√≥n
# Atributo magnitude negativa de la columna mag

In [86]:
df['mag'] < 0

0       False
1       False
2       False
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

In [87]:
df['mag_negative'] = df['mag'] < 0 # estar√© creando una nueva col con valore por defecto T o F
df.sample(20,random_state=17)

      alert   mag magType  ...        type    source mag_negative
6944    NaN  0.14      ml  ...  earthquake  USGS API        False
1874    NaN  0.56      md  ...  earthquake  USGS API        False
7897    NaN  4.90      mb  ...  earthquake  USGS API        False
4088    NaN -0.18      ml  ...  earthquake  USGS API         True
7373    NaN  1.90      ml  ...  earthquake  USGS API        False
5397    NaN  1.44      ml  ...  earthquake  USGS API        False
7847    NaN  0.41      md  ...  earthquake  USGS API        False
4357    NaN  0.54      ml  ...  earthquake  USGS API        False
1176    NaN  1.40      ml  ...  earthquake  USGS API        False
8165    NaN  2.25      ml  ...  earthquake  USGS API        False
7876    NaN  0.28      ml  ...  earthquake  USGS API        False
7164    NaN  0.99      ml  ...  earthquake  USGS API        False
1506    NaN  1.80      ml  ...  earthquake  USGS API        False
3636    NaN -0.30      ml  ...  earthquake  USGS API         True
5256  green  5.80      mb  ...  earthquake  USGS API        False
965     NaN  0.57      md  ...  earthquake  USGS API        False
5062    NaN  1.00      ml  ...   ice quake  USGS API        False
518     NaN  1.70      ml  ...  earthquake  USGS API        False
4732    NaN  1.16      ml  ...  earthquake  USGS API        False
5156    NaN  1.73      ml  ...  earthquake  USGS API        False

[20 rows x 10 columns]

In [88]:
# Seleccionado solo los valores True
df[df['mag'] < 0]

     alert   mag magType  ...        type    source mag_negative
39     NaN -0.10      ml  ...  earthquake  USGS API         True
49     NaN -0.10      ml  ...  earthquake  USGS API         True
135    NaN -0.40      ml  ...  earthquake  USGS API         True
161    NaN -0.02      md  ...  earthquake  USGS API         True
198    NaN -0.20      ml  ...  earthquake  USGS API         True
...    ...   ...     ...  ...         ...       ...          ...
9202   NaN -0.11      ml  ...  earthquake  USGS API         True
9241   NaN -0.69      ml  ...  earthquake  USGS API         True
9261   NaN -0.02      ml  ...  earthquake  USGS API         True
9267   NaN -0.32      md  ...  earthquake  USGS API         True
9305   NaN -0.27      ml  ...  earthquake  USGS API         True

[491 rows x 10 columns]

In [89]:
df[df['mag'] < 0].describe()

              mag          time  tsunami
count  491.000000  4.910000e+02    491.0
mean    -0.339593  1.538237e+12      0.0
std      0.252297  5.649134e+08      0.0
min     -1.260000  1.537235e+12      0.0
25%     -0.500000  1.537815e+12      0.0
50%     -0.300000  1.538154e+12      0.0
75%     -0.130000  1.538687e+12      0.0
max     -0.010000  1.539459e+12      0.0

In [90]:
df.loc[(df['mag'] < 0)]

     alert   mag magType  ...        type    source mag_negative
39     NaN -0.10      ml  ...  earthquake  USGS API         True
49     NaN -0.10      ml  ...  earthquake  USGS API         True
135    NaN -0.40      ml  ...  earthquake  USGS API         True
161    NaN -0.02      md  ...  earthquake  USGS API         True
198    NaN -0.20      ml  ...  earthquake  USGS API         True
...    ...   ...     ...  ...         ...       ...          ...
9202   NaN -0.11      ml  ...  earthquake  USGS API         True
9241   NaN -0.69      ml  ...  earthquake  USGS API         True
9261   NaN -0.02      ml  ...  earthquake  USGS API         True
9267   NaN -0.32      md  ...  earthquake  USGS API         True
9305   NaN -0.27      ml  ...  earthquake  USGS API         True

[491 rows x 10 columns]

In [91]:
# No podemos guardar un subset en el dataframe original por shape[0] diferente
# df['mag_negat'] = df.loc[(df['mag'] < 0)]
# df.sample(20, random_state=42)

In [92]:
# Operamos con expresiones regulares
df['place'].str.extract(r', (.*$)')[0].sort_values().unique() # recoge los valores despu√©s de la coma y espacio

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Australia', 'Azerbaijan', 'B.C., MX', 'Barbuda', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba ', 'British Virgin Islands',
       'Burma', 'CA', 'California', 'Canada', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Ecuador region',
       'El Salvador', 'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala',
       'Haiti', 'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Italy', 'Jamaica', 'Japan', 'Kansas',
       'Kentucky', 'Kyrgyzstan', 'Martinique', 'Mauritius', 'Mayotte',
       'Mexico', 'Missouri', 'Montana', 'NV', 'Nevada', 'New Caledonia',
       'New Hampshire', 'New Mexico', 'New Zealand', 'Nicaragua',
       'North Carolina', 'Northern Mariana Islands', 'Oklahoma', 'Oregon',
       'Pakistan', 'Papua New Guinea', 'Peru', 'Philippines',
       'Puerto Rico', 'Romania', 'Russia', 'Saint Helena',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and the South Sandwich Islands',
       'South Sandwich Islands', 'Taiwan', 'Tajikistan', 'Tennessee',
       'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands', 'Utah',
       'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington', 'Wyoming',
       'Yemen', nan], dtype=object)

In [93]:
df['place']

0                  9km NE of Aguanga, CA
1                  9km NE of Aguanga, CA
2                  8km NE of Aguanga, CA
3                  9km NE of Aguanga, CA
4                  10km NW of Avenal, CA
                      ...
9327        9km ENE of Mammoth Lakes, CA
9328                 3km W of Julian, CA
9329    35km NNE of Hatillo, Puerto Rico
9330               9km NE of Aguanga, CA
9331               9km NE of Aguanga, CA
Name: place, Length: 9332, dtype: object

In [94]:
# Operamos con transformaci√≥n de unos valores
df['parsed_place'] = df['place'].str.replace(
    r'.* of ', '', regex=True # elimina cualquier t√©rmino que tenga of
).str.replace(
    'the ', '' # eliminamos "the "
).str.replace(
    r'CA$', 'California', regex=True # sustituye CA por California
).str.replace(
    r'NV$', 'Nevada', regex=True # sustituye NV por Nevada
).str.replace(
    r'MX$', 'Mexico', regex=True # sustituye MX por Mexico
).str.replace(
    r' region$', '', regex=True # elimina el t√©rmino region
).str.replace(
    'northen ', '' # eliminamos 'northen ' 
).str.replace(
    'Fiji Islands', 'Fiji' # renombramos Fiji Island por Fiji
).str.replace(
    r'^.*, ', '', regex=True # elimina cualquier elemento raro desde el principio
).str.replace(
    r'Fiji Islan[a-zA-Z0-9]{1,}', 'Fiji', regex=True
).str.strip() # elimina espacios

In [95]:
df['parsed_place'].sample(20, random_state=6)

6258           Utah
7356         Alaska
8267         Alaska
3101         Hawaii
5293      Tennessee
3663         Alaska
6519     California
9134     California
1758     California
5753         Alaska
6453         Canada
6834     California
892      California
5781     Washington
3886         Alaska
3160     California
7850         Alaska
8261         Russia
5416    Puerto Rico
4338     California
Name: parsed_place, dtype: object

In [96]:
df[['place','parsed_place']].sample(20,random_state=20)

                                   place parsed_place
426   83km WNW of Arctic Village, Alaska       Alaska
2786       46km SSW of Goldfield, Nevada       Nevada
8225      16km S of Anchor Point, Alaska       Alaska
2814          17km WSW of Toms Place, CA   California
9280               9km NE of Aguanga, CA   California
4161       74km N of Brenas, Puerto Rico  Puerto Rico
4697      69km WSW of Larsen Bay, Alaska       Alaska
376             13km W of Akutan, Alaska       Alaska
8127       23km WNW of Montpelier, Idaho        Idaho
1291       78km SW of Larsen Bay, Alaska       Alaska
5620                11km W of Niland, CA   California
7494          8km WNW of The Geysers, CA   California
8817              10km NE of Aguanga, CA   California
2617                 5km WSW of Anza, CA   California
7500           South of the Fiji Islands         Fiji
4745              10km NE of Aguanga, CA   California
4570              10km NE of Aguanga, CA   California
8097         4km NE of Mammoth Lakes, CA   California
984           6km ESE of Bella Vista, CA   California
255         39km SSW of Qualeys Camp, NV       Nevada

In [97]:
# Podemos hacer uso de assign() para crear columnas
df.assign(
    in_ca=df['parsed_place'].str.endswith('California'),
    in_alaska=df['parsed_place'].str.endswith('Alaska')
).sample(20, random_state=20)

     alert   mag magType  ... parsed_place  in_ca in_alaska
426    NaN  2.60      ml  ...       Alaska  False      True
2786   NaN  2.10      ml  ...       Nevada  False     False
8225   NaN  1.30      ml  ...       Alaska  False      True
2814   NaN  0.80      md  ...   California   True     False
9280   NaN  0.11      ml  ...   California   True     False
4161   NaN  3.17      md  ...  Puerto Rico  False     False
4697   NaN  2.10      ml  ...       Alaska  False      True
376    NaN -0.63      ml  ...       Alaska  False      True
8127   NaN  2.32      ml  ...        Idaho  False     False
1291   NaN  2.50      ml  ...       Alaska  False      True
5620   NaN  0.82      ml  ...   California   True     False
7494   NaN  0.56      md  ...   California   True     False
8817   NaN  0.43      ml  ...   California   True     False
2617   NaN  0.84      ml  ...   California   True     False
7500   NaN  4.50      mb  ...         Fiji  False     False
4745   NaN  0.55      ml  ...   California   True     False
4570   NaN  0.56      ml  ...   California   True     False
8097   NaN  0.32      md  ...   California   True     False
984    NaN  1.56      md  ...   California   True     False
255    NaN  1.24      md  ...       Nevada  False     False

[20 rows x 13 columns]

# Lab03

Creamos dos nuevas columnas con el m√©todo anterior, pero que en una tercera columna, diga `True` si **California** o **Alaska** no est√© presente.

In [98]:
df.assign(
    in_ca=df['parsed_place'].str.endswith('California'),
    in_alaska=df['parsed_place'].str.endswith('Alaska'),
    ninguna_de_las_dos=lambda x: ~x.in_ca & ~x.in_alaska
).sample(20, random_state=20)

     alert   mag magType  ...  in_ca  in_alaska ninguna_de_las_dos
426    NaN  2.60      ml  ...  False       True              False
2786   NaN  2.10      ml  ...  False      False               True
8225   NaN  1.30      ml  ...  False       True              False
2814   NaN  0.80      md  ...   True      False              False
9280   NaN  0.11      ml  ...   True      False              False
4161   NaN  3.17      md  ...  False      False               True
4697   NaN  2.10      ml  ...  False       True              False
376    NaN -0.63      ml  ...  False       True              False
8127   NaN  2.32      ml  ...  False      False               True
1291   NaN  2.50      ml  ...  False       True              False
5620   NaN  0.82      ml  ...   True      False              False
7494   NaN  0.56      md  ...   True      False              False
8817   NaN  0.43      ml  ...   True      False              False
2617   NaN  0.84      ml  ...   True      False              False
7500   NaN  4.50      mb  ...  False      False               True
4745   NaN  0.55      ml  ...   True      False              False
4570   NaN  0.56      ml  ...   True      False              False
8097   NaN  0.32      md  ...   True      False              False
984    NaN  1.56      md  ...   True      False              False
255    NaN  1.24      md  ...  False      False               True

[20 rows x 14 columns]

In [99]:
# Concatenaci√≥n
tsunami = df[df['tsunami'] == 1]
no_tsunami = df[df['tsunami'] == 0]
tsunami.shape, no_tsunami.shape

((61, 11), (9271, 11))

In [100]:
print(type(tsunami))
print(type(no_tsunami))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [101]:
# Para unir las dos tablas o dataframe
pd.concat([tsunami, no_tsunami]).shape

(9332, 11)

In [102]:
# El otro m√©todo es con append(), agrega filas
tsunami.append(no_tsunami).shape

(9332, 11)

In [103]:
subset_2

                                                title   mag           time
10                     M 0.5 - 10km NE of Aguanga, CA  0.50  1539471831030
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77  1539471621260
12                      M 0.5 - 9km NE of Aguanga, CA  0.50  1539470934710
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50  1539470898340
14                   M 2.1 - 14km NW of Parkfield, CA  2.13  1539470851950
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00  1539470304219

In [104]:
subset_4

      alert  mag  ...                                       title        type
837   green  7.0  ...  M 7.0 - 117km E of Kimbe, Papua New Guinea  earthquake
5263    red  7.5  ...           M 7.5 - 78km N of Palu, Indonesia  earthquake

[2 rows x 5 columns]

In [105]:
# Creamos una intersecci√≥n de columnas para referenciarlas
cols = subset_2.columns.intersection(subset_4.columns)

In [106]:
cols

Index(['title', 'mag'], dtype='object')

In [107]:
cols_diff = subset_2.columns.difference(subset_4.columns)
cols_diff

Index(['time'], dtype='object')

In [108]:
cols_diff = subset_4.columns.difference(subset_2.columns)
cols_diff

Index(['alert', 'magType', 'type'], dtype='object')

In [109]:
df[cols_diff]

     alert magType        type
0      NaN      ml  earthquake
1      NaN      ml  earthquake
2      NaN      ml  earthquake
3      NaN      ml  earthquake
4      NaN      md  earthquake
...    ...     ...         ...
9327   NaN      md  earthquake
9328   NaN      ml  earthquake
9329   NaN      md  earthquake
9330   NaN      ml  earthquake
9331   NaN      ml  earthquake

[9332 rows x 3 columns]

In [110]:
subset_4.merge(subset_2, how='outer', indicator=True,
               left_index=True, right_index=True)

      alert  mag_x magType  ... mag_y          time      _merge
10      NaN    NaN     NaN  ...  0.50  1.539472e+12  right_only
11      NaN    NaN     NaN  ...  2.77  1.539472e+12  right_only
12      NaN    NaN     NaN  ...  0.50  1.539471e+12  right_only
13      NaN    NaN     NaN  ...  4.50  1.539471e+12  right_only
14      NaN    NaN     NaN  ...  2.13  1.539471e+12  right_only
15      NaN    NaN     NaN  ...  2.00  1.539470e+12  right_only
837   green    7.0     mww  ...   NaN           NaN   left_only
5263    red    7.5     mww  ...   NaN           NaN   left_only

[8 rows x 9 columns]

In [111]:
additional_cols = pd.read_csv("https://raw.githubusercontent.com/marcusRB/IDbootcamps_DataScience_student_PT_10201/master/dataset/earthquakes.csv",
                              usecols = ['tz','felt','ids','time'], index_col='time'
)
pd.concat([df.head(2), additional_cols.head(2)], axis=1)

              alert   mag magType  ... felt           ids     tz
0               NaN  1.35      ml  ...  NaN           NaN    NaN
1               NaN  1.29      ml  ...  NaN           NaN    NaN
1539475129610   NaN   NaN     NaN  ...  NaN  ,ci37389202, -480.0
1539475168010   NaN   NaN     NaN  ...  NaN  ,ci37389218, -480.0

[4 rows x 14 columns]

In [112]:
additional_cols

               felt             ids     tz
time
1539475168010   NaN    ,ci37389218, -480.0
1539475129610   NaN    ,ci37389202, -480.0
1539475062610  28.0    ,ci37389194, -480.0
1539474978070   NaN    ,ci37389186, -480.0
1539474716050   NaN    ,nc73096941, -480.0
...             ...             ...    ...
1537230228060   NaN    ,nc73086771, -480.0
1537230135130   NaN    ,ci38063967, -480.0
1537229908180   NaN  ,pr2018261000, -240.0
1537229545350   NaN    ,ci38063959, -480.0
1537228864470   NaN    ,ci38063935, -480.0

[9332 rows x 3 columns]

In [113]:
pd.concat(
    [tsunami.head(2), no_tsunami.head(2).assign(type='earthquake')],
    join='inner'
)

     alert   mag magType  ...    source  mag_negative      parsed_place
36     NaN  5.00     mww  ...  USGS API         False  Christmas Island
118  green  6.70     mww  ...  USGS API         False            Russia
0      NaN  1.35      ml  ...  USGS API         False        California
1      NaN  1.29      ml  ...  USGS API         False        California

[4 rows x 11 columns]

# Eliminar datos

In [114]:
# para eliminar columnas
df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami', 'type',
       'source', 'mag_negative', 'parsed_place'],
      dtype='object')

In [115]:
del df['source']

In [116]:
df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami', 'type',
       'mag_negative', 'parsed_place'],
      dtype='object')

In [118]:
# Es buena pr√°ctica el uso try...except
try:
  del df['source']
except:
  print('la columna ya no existe')

la columna ya no existe

In [119]:
# otra forma de realizar la operaci√≥n
mag_negative = df.pop('mag_negative')
df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami', 'type',
       'parsed_place'],
      dtype='object')

In [121]:
mag_negative.value_counts()

False    8841
True      491
Name: mag_negative, dtype: int64

In [122]:
# uso del drop
df.drop([0,1]).head(2)

  alert   mag magType  ... tsunami        type parsed_place
2   NaN  3.42      ml  ...       0  earthquake   California
3   NaN  0.44      ml  ...       0  earthquake   California

[2 rows x 9 columns]

In [123]:
df.head()

  alert   mag magType  ... tsunami        type parsed_place
0   NaN  1.35      ml  ...       0  earthquake   California
1   NaN  1.29      ml  ...       0  earthquake   California
2   NaN  3.42      ml  ...       0  earthquake   California
3   NaN  0.44      ml  ...       0  earthquake   California
4   NaN  2.16      md  ...       0  earthquake   California

[5 rows x 9 columns]

In [ ]:
# En caso de eliminar los valores o filas tenemos dos opciones
#df = df.drop([0,1]) # inplace = False quiere decir que sustituimos el df original

# La segunda opci√≥n
#df.drop([0,1], inplace=True)

In [124]:
# Para eliminar columnas utilizamos axis=1
cols_to_drop = [
                col for col in df.columns
                if col not in ['alert', 'mag',
                               'title', 'time', 'tsunami']
]
df.drop(columns=cols_to_drop).head()

  alert   mag           time                          title  tsunami
0   NaN  1.35  1539475168010  M 1.4 - 9km NE of Aguanga, CA        0
1   NaN  1.29  1539475129610  M 1.3 - 9km NE of Aguanga, CA        0
2   NaN  3.42  1539475062610  M 3.4 - 8km NE of Aguanga, CA        0
3   NaN  0.44  1539474978070  M 0.4 - 9km NE of Aguanga, CA        0
4   NaN  2.16  1539474716050  M 2.2 - 10km NW of Avenal, CA        0

In [125]:
# Tenemos la opci√≥n con axis = 1
df.drop(columns=cols_to_drop).equals(
    df.drop(cols_to_drop, axis=1)
)

True

In [126]:
# Uso de inplace = True
df.drop(columns=cols_to_drop, inplace=True) # elimina las columnas del df
df.head()

  alert   mag           time                          title  tsunami
0   NaN  1.35  1539475168010  M 1.4 - 9km NE of Aguanga, CA        0
1   NaN  1.29  1539475129610  M 1.3 - 9km NE of Aguanga, CA        0
2   NaN  3.42  1539475062610  M 3.4 - 8km NE of Aguanga, CA        0
3   NaN  0.44  1539474978070  M 0.4 - 9km NE of Aguanga, CA        0
4   NaN  2.16  1539474716050  M 2.2 - 10km NW of Avenal, CA        0